<!DOCTYPE html>
<html>

<head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@100&display=swap");

    @font-face {
      font-family: "MinervaModern";
      src: url("https://res.cloudinary.com/castlery/raw/upload/v1635923096/email/fonts/MINERVAMODERN_WEB/MINERVAMODERNRegular.eot"), url("https://res.cloudinary.com/castlery/raw/upload/v1635923099/email/fonts/MINERVAMODERN_WEB/MINERVAMODERNRegular.woff") format("woff");
    }
  </style>
</head>

<body>
<table bgcolor="#f2f2f2" border="0" cellpadding="0" cellspacing="0"
       style="font-family: Arial, Verdana, sans-serif;"
       width="100%">
  <tbody>
  <tr>
    <td align="center" bgcolor="#f2f2f2">
      <table border="0" cellpadding="0" cellspacing="0"
             style="margin: 0 auto; background-color: #ffffff"
             width="800">
        <tbody>
        <tr>
          <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="614"
                   style="font-family: poppins, Arial, Helvetica, sans-serif;">
              <tbody>
              <!-- US header -->
              <tr>
                <td>
                  <table border="0" cellspacing="0" cellpadding="0" width="614" align="center">
                    <tbody>
                    <tr height="30"></tr>
                    <tr>
                      <td align="center" style="vertical-align: top; width: 214px" width="214">
                        <a href="https://www.castlery.com/us"
                           style="display: inline-block; border: none; outline: none"
                           title="Castlery.com"
                           target="_blank">
                          <img
                              src="https://res.cloudinary.com/castlery/image/upload/f_auto,q_auto/v1636338526/email/castlery-logo-terracotta.png"
                              width="155" style="
                  width: 155px;
                  border: none;
                  outline: none;
                  display: inline-block;
                " alt="Castlery"/>
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <td height="30">&emsp;</td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td>
                  <table width="614" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody>
                    <tr height="10">
                      <td style="border-top: 1px solid #c1af86"></td>
                    </tr>
                    <tr>
                      <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="
                font-size: 12px;
                font-weight: normal;
                font-family: poppins, Arial, sans-serif;
              ">
                          <tbody>
                          <!--******************************************
Navigation
******************************************-->
                          <tr style="
                    text-align: center;
                    border-top: 1px solid #c1af86;
                    border-bottom: 1px solid #c1af86;
                  ">
                            <td align="center">
                              <a href="https://www.castlery.com/ca/living-room" style="
                        color: #323433;
                        text-decoration: none;
                        text-decoration: none !important;
                        outline: none;
                        padding: 0 9px;
                      "><span style="text-decoration: none;">Living Room</span></a>
                            </td>
                            <td align="center">
                              <a href="https://www.castlery.com/ca/dining-room" style="
                        color: #323433;
                        text-decoration: none;
                        text-decoration: none !important;
                        outline: none;
                        padding: 0 9px;
                      "><span style="text-decoration: none;">Dining Room</span></a>
                            </td>
                            <td align="center">
                              <a href="https://www.castlery.com/ca/bedroom" style="
                        color: #323433;
                        text-decoration: none;
                        text-decoration: none !important;
                        outline: none;
                        padding: 0 9px;
                      "><span style="text-decoration: none;">Bedroom</span></a>
                            </td>

                            <td align="center">
                              <a href="https://www.castlery.com/ca/storage" style="
                        color: #323433;
                        text-decoration: none;
                        text-decoration: none !important;
                        outline: none;
                        padding: 0 9px;
                      "><span style="text-decoration: none;">Storage</span></a>
                            </td>
                            <td align="center">
                              <a href="https://www.castlery.com/ca/outdoor" style="
                        color: #323433;
                        text-decoration: none;
                        text-decoration: none !important;
                        outline: none;
                        padding: 0 9px;
                      "><span style="text-decoration: none;">Outdoor</span></a>
                            </td>
                            <td align="center">
                              <a href="https://www.castlery.com/ca/sale" style="
                        color: #a45b37;
                        text-decoration: none;
                        text-decoration: none !important;
                        outline: none;
                        padding: 0 9px;
                      "><span style="text-decoration: none;">Sale</span></a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr height="10">
                      <td style="border-bottom: 1px solid #c1af86"></td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr height="10">
                <td></td>
              </tr>
              <tr>
                <td align="center" style="vertical-align: top"></td>
              </tr>
              <!-- Main -->
              <tr>
                <td align="center" style="vertical-align: top">

                  <!-- Title -->
                  <table>
                    <tbody>
                    <tr>
                      <td height="20"></td>
                    </tr>
                    <tr>
                      <td align="center"
                          style="font-family: MinervaModern, Arial, Helvetica, sans-serif;font-size: 30px;color: #424242;font-weight: 700;line-height: 36px;">
                        An Update For You!
                      </td>
                    </tr>
                    <tr>
                      <td height="40"></td>
                    </tr>
                    </tbody>
                  </table>

                  <!-- Order Info -->
                  <table style="background: #DBCFB5" width="614">
                    <tbody>
                    <tr>
                      <td height="23.5"></td>
                    </tr>
                    <tr>
                      <td align="center"
                          style="font-size: 30px;color: #424242;font-weight: 700;line-height: 36px;">
                        Order
                        #<span th:text="${data.salesOrderNumber}">***</span></td>
                    </tr>
                    <tr>
                      <td height="10"></td>
                    </tr>
                    <tr>
                      <td align="center"
                          style="font-size: 18px;color: #424242;font-weight: 400;line-height: 24px;">
                        Shipment
                        <span style="font-weight: 700">#<span
                            th:text="${data.shipmentNumber}">***</span></span>
                      </td>
                    </tr>
                    <tr>
                      <td height="23.5"></td>
                    </tr>
                    </tbody>
                  </table>


                  <table>
                    <tbody>
                    <tr>
                      <td height="40"> </td>
                    </tr>
                    <tr>
                      <td align="center" style="font-size: 16px;color: #424242;line-height: 24px;">Hi <span
                          style="font-weight: 700"><span th:text="${data.consigneeFirstName}">***</span></span>,</td>
                    </tr>
                    <tr>
                      <td height="25"> </td>
                    </tr>
                    </tbody>
                  </table>
                  <table>
                    <tbody>
                    <tr>
                      <td align="center" style="font-size: 14px;color: #424242;line-height: 1.5;">Awesome news! Your item(s) have arrived at our warehouse and are being processed to ship as soon as possible.
                      </td>
                    </tr>
                    <tr>
                      <td height="40"> </td>
                    </tr>
                    <tr>
                      <td align="center"
                          style="font-size: 14px;color: #424242;line-height: 1.5;">
                        <strong>What's Next?</strong><br/>
                        Be on the lookout for your shipping confirmation email, "It's On
                        Its Way!" which will include the carrier details and tracking
                        information. Once your shipment is with our delivery partner, they
                        will contact you to schedule your delivery.
                      </td>

                    </tr>

                    <tr>
                      <td height="20"> </td>
                    </tr>

                    <tr>
                      <td align="center"
                          style="font-size: 14px;color: #424242;line-height: 1.5;">
                        To stay updated on your shipment's progress,you can use this link: <a
                          th:href="${data.shipmentMilestoneUrl}"
                          style=" color: #A45B37;"><br>Tracking My Shipment #<span
                          th:text="${data.shipmentNumber}">***</span></a>
                      </td>

                    </tr>


                    <tr>
                      <td height="40"> </td>
                    </tr>
                    <tr>
                      <td align="center" style="font-size: 14px;color: #424242;line-height: 1.5;">
                        <u><strong>Important Information: </strong></u><br />
                        Please double-check your delivery and contact details below:
                      </td>
                    </tr>
                    <tr>
                      <td height="40"> </td>
                    </tr>

                    </tbody>
                  </table>

                  <!-- Customer Info -->
                  <table>
                    <tbody>
                    <tr>
                      <td style="font-size: 16px;color: #424242;font-weight: 700;line-height: 24px;">Name</td>
                      <td width="10"> </td>
                      <td>:</td>
                      <td width="10"> </td>
                      <td style="font-size: 16px;color: #424242;line-height: 24px;"><span th:text="${data.consigneeFirstName}">***</span>
                        <span th:text="${data.consigneeMiddleName}">***</span> <span th:text="${data.consigneeLastName}">***</span></td>
                    </tr>
                    <tr>
                      <td style="font-size: 16px;color: #424242;font-weight: 700;line-height: 24px;">Email
                      </td>
                      <td width="10"> </td>
                      <td>:</td>
                      <td width="10"> </td>
                      <td style="font-size: 16px;color: #424242;line-height: 24px;"><span th:text="${data.consigneeEmail}">***</span></td>
                    </tr>
                    <tr>
                      <td style="font-size: 16px;color: #424242;font-weight: 700;line-height: 24px;">Contact
                      </td>
                      <td width="10"> </td>
                      <td>:</td>
                      <td width="10"> </td>
                      <td style="font-size: 16px;color: #424242;line-height: 24px;">
                        <span th:text="${data.consigneePhone}">***</span>
                        <br /><span th:text="${data.consigneeAltPhone}">***</span>
                      </td>
                    </tr>
                    <tr>
                      <td height="25"> </td>
                    </tr>
                    </tbody>
                  </table>

                  <!-- Shipping Address -->
                  <table style="border-spacing: 10px 0px;" width="475">
                    <thead>
                    <tr style="background: #DBCFB5">
                      <th style="padding: 12.5px; font-size: 16px; color: #424242; font-weight: 700;
																	line-height: 24px;">Shipping Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td align="center"
                          style="padding: 30px;font-size: 16px; color: #424242; line-height: 24px; border: 1px solid #DBCFB5; text-align: center;">
                        <span th:text="${data.consigneeAddress1}">***</span><br />
                        <span th:text="${data.consigneeAddress2}">***</span><br /> <span th:text="${data.consigneeCity}">***</span>
                        <span th:text="${data.consigneeState}">***</span> <span th:text="${data.consigneeZip}">***</span>
                      </td>
                    </tr>
                    <tr>
                      <td height="40"> </td>
                    </tr>
                    </tbody>
                  </table>
                  <table>
                    <tbody>
                    <tr>
                      <td align="center" style="font-size: 14px;color: #424242;line-height: 1.5;">
                        <u><strong>Do you need anything else?</strong></u><br />
                        If you would like to make any changes to your order or postpone your delivery, do reach out to us within 24 hours of receiving this email to
                        avoid
                        <a href="https://www.castlery.com/ca/sales-and-refunds"
                           style=" color: #A45B37;">any fees</a>.
                      </td>
                    </tr>
                    <tr>
                      <td height="40"> </td>
                    </tr>
                    <tr>
                      <td align="center" style="font-size: 14px;color: #424242;line-height: 1.5;">
                        Please note that items purchased on clearance or final sale are not eligible for changes and cancellations.
                      </td>
                    </tr>
                    <tr>
                      <td height="40"> </td>
                    </tr>

                    <tr>
                      <td align="center" style="font-size: 16px;color: #424242;line-height: 1.5;">
                        <p>Specific item(s) from your shipment to be delivered</p>
                        <table style="border-spacing: 0;">
                          <thead>
                          <tr style="background: #DBCFB5;font-size: 16px; color: rgb(66, 66, 66);
																				line-height: 24px;text-decoration: underline;">
                            <th style="padding:12.5px;">Item ID</th>
                            <th style="padding:12.5px;">Item Name</th>
                            <th style="padding:12.5px">Quantity</th>
                          </tr>
                          </thead>
                          <tbody>
                          <span th:each="itemLine:${data.items}">
																				<tr align="center"
                                            style="font-size: 16px;text-align: center;color:rgb(66, 66, 66);">
																					<td style="padding: 16px; line-height: 24px; "><span th:text="${itemLine.id}">***</span></td>
																					<td
                                              style="padding: 16px; line-height: 24px; ;white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 475px;">
																						<span th:text="${itemLine.name}">***</span></td>
																					<td style="padding: 16px; line-height: 24px;"><span th:text="${itemLine.quantity}">***</span></td>
																				</tr>
																			</span>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>


                <tr align="center">
                  <td>
                    More questions? You can find answers in our <a href="https://www.castlery.com/ca/help-center">FAQs</a> and <a href="https://www.castlery.com/ca/sales-and-refunds">Terms and Conditions</a>, or just
                    reach out via any channels below, we're happy to help!
                  </td>
                </tr>

                </td>
              </tr>
              <tr>
                <td height="20"></td>
              </tr>
              </tbody>
            </table>
          </td>

        <tr align="center">
          <td>
            <table width="614">
              <tbody>
              <tr>
                <td height="40" style="border-top: 1px solid #dbcfb5"></td>
              </tr>
              <tr>
                <td align="center" style="
              font-size: 26px;
              color: #323433;
              font-weight: 400;
              font-family: MinervaModern, Arial, sans-serif;
              line-height: 24px;
            ">
                  More questions?
                </td>
              </tr>
              <tr>
                <td height="25"></td>
              </tr>
              <tr>
                <td align="center" style="font-size: 16px; height: 40px">
                  <a href="https://www.castlery.com/ca/help-center" style="text-decoration: none;">
                    <table style="border: 1px solid #c1af86;
							font-size: 16px;
							color: #c1af86;
							font-family: poppins, Arial, sans-serif;
							line-height: 20px;
							padding: 10px 53px;
							background-color: transparent;">
                      <tr>
                        <td valign="middle"><span style="text-decoration: none;">Read Our FAQ</span>
                        </td>
                        <td valign="middle">
                          <div style="width: 18px; height: 16px;"><img
                              src="https://res.cloudinary.com/cslrstag/image/upload/f_auto,q_auto,w_18,h_16,c_scale/v1635815669/email/icons/arrow-wheat.png"
                              style="
										display: block;
										width: 18px;
										height: 16px;
									" alt="read our FAQ"/></div>
                        </td>
                      </tr>
                    </table>
                  </a>
                </td>
              </tr>
              <tr>
                <td height="60"></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" width="100%" style="
				border-collapse: collapse;
				border-spacing: 0;
        background-color: #a45b37;
        font-family: MinervaModern, Arial, sans-serif;
        font-size: 16px;
        font-weight: bold;
      ">
              <tbody>
              <tr>
                <td height="50" colspan="3">&emsp;</td>
              </tr>
              <tr>
                <td width="33%" style="text-align: center">
                  <a style="text-decoration: none; text-decoration: none !important"
                     href="https://www.castlery.com/ca/contact-us">
                    <img
                        src="https://res.cloudinary.com/cslrstag/image/upload/f_auto,q_auto/v1636094353/email/icons/live-chat.png"
                        width="47.5" style="display: block; margin: auto;"/>
                    <p style="color: #dbcfb5; text-decoration: none;">LIVE CHAT</p>
                  </a>
                </td>
                <td width="33%" style="text-align: center">
                  <a href="https://wa.me/18338637555"
                     style="text-decoration: none; text-decoration: none !important"><img
                      src="https://res.cloudinary.com/cslrstag/image/upload/f_auto,q_auto/v1636094353/email/icons/call-us.png"
                      width="47.5" style="display: block; margin: auto;"/>
                    <p style="color: #dbcfb5;white-space: nowrap; text-decoration: none;">WhatsApp
                      +1 833-863-7555</p>
                  </a>
                </td>
                <td width="33%" style="text-align: center">
                  <a href="mailto:help.ca@castlery.com"
                     style="text-decoration: none; text-decoration: none !important"><img
                      src="https://res.cloudinary.com/cslrstag/image/upload/f_auto,q_auto/v1636094353/email/icons/email-us.png"
                      width="47.5" style="display: block; margin: auto;"/>
                    <p style="color: #dbcfb5; text-decoration: none;">EMAIL US</p>
                  </a>
                </td>
              </tr>
              <tr>
                <td height="50" colspan="3">&emsp;</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="40"></td>
        </tr>
        <!-- FAQ end -->
        <!-- US Footer  -->
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" align="center">
              <tbody>
              <tr>
                <td>
                  <table border="0" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                    <tr>
                      <td>
                        <a style="
                        color: #323433;
                        font-size: 13px;
                        text-decoration: none;
                        display: block;
                      " href="https://www.facebook.com/castleryca" target="_blank">
                          <img
                              src="https://cslr-email.s3-ap-southeast-1.amazonaws.com/ERP/swatch-email/facebook.jpg"
                              height="20" alt="FB.jpg"/></a>
                      </td>
                      <td width="30"></td>
                      <td>
                        <a style="
                        color: #323433;
                        font-size: 13px;
                        text-decoration: none;
                        display: block;
                      " href="http://www.instagram.com/castleryca" target="_blank">
                          <img
                              src="https://cslr-email.s3-ap-southeast-1.amazonaws.com/ERP/swatch-email/instagram.jpg"
                              height="20" alt="IG.jpg"/></a>
                      </td>
                      <td width="30"></td>
                      <td>
                        <a style="
                        color: #323433;
                        font-size: 13px;
                        text-decoration: none;
                        display: block;
                      " href="http://www.pinterest.com/castleryca" target="_blank">
                          <img
                              src="https://cslr-email.s3-ap-southeast-1.amazonaws.com/ERP/swatch-email/pinterest.jpg"
                              height="20" alt="Pinterest.jpg"/></a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="40"></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>

</html>