<!DOCTYPE html>
<html>
<head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@100&display=swap");

    @font-face {
      font-family: "MinervaModern";
      src: url("https://res.cloudinary.com/castlery/raw/upload/v1635923096/email/fonts/MINERVAMODERN_WEB/MINERVAMODERNRegular.eot"),
      url("https://res.cloudinary.com/castlery/raw/upload/v1635923099/email/fonts/MINERVAMODERN_WEB/MINERVAMODERNRegular.woff") format("woff");
    }

    html {
      overflow-y: scroll;
    }
  </style>
</head>

<body>
<table
    cellpadding="0"
    cellspacing="0"
    style="width: 100%; border: 0; background-color: #f2f2f2;"
>
  <tbody>
  <tr>
    <td>
      <table
          cellpadding="0"
          cellspacing="0"
          style="margin: 0 auto; padding: 0 33px; width: 680px; border: 0; background-color: #fff;"
      >
        <tbody>
        <tr>
          <td>
            <table
                cellpadding="0"
                cellspacing="0"
                style="width: 614px; border: 0; font-family: poppins, Arial, Helvetica, sans-serif"
            >
              <tbody>
              <!-- SG header -->
              <tr>
                <td>
                  <table
                      cellspacing="0"
                      cellpadding="0"
                      style="padding: 30px 0; width: 100%; border: 0; text-align: center;"
                  >
                    <tbody>
                    <tr>
                      <td
                          style="text-align: center;"
                      >
                        <a
                            href="https://www.castlery.com/us"
                            style="display: inline-block; border: none; outline: none"
                            title="Castlery.com"
                            target="_blank"
                        >
                          <img
                              src="https://res.cloudinary.com/castlery/image/upload/f_auto,q_auto/v1636338526/email/castlery-logo-terracotta.png"
                              width="155"
                              style="display: inline-block; border: none; outline: none;"
                              alt="Castlery"
                          />
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <!-- SG Navigation -->
              <tr>
                <td style="padding: 9px 0; border-top: 1px solid #c1af86; border-bottom: 1px solid #c1af86;">
                  <table
                      cellpadding="0"
                      cellspacing="0"
                      style="width: 100%; border: 0; font: 12px poppins, Arial, sans-serif;"
                  >
                    <tbody>
                    <tr style="text-align: center; border-top: 1px solid #c1af86; border-bottom: 1px solid #c1af86;">
                      <td style="text-align: center;">
                        <a
                            href="https://www.castlery.com/us/living-room"
                            target="_blank"
                            style="
                                        padding: 0 9px;
                                        color: #323433;
                                        text-decoration: none;
                                        outline: none;
                                      "
                        >
                          <span style="text-decoration: none">Living Room</span>
                        </a>
                      </td>
                      <td style="text-align: center;">
                        <a
                            href="https://www.castlery.com/us/dining-room"
                            target="_blank"
                            style="
                                        padding: 0 9px;
                                        color: #323433;
                                        text-decoration: none;
                                        outline: none;
                                      "
                        >
                          <span style="text-decoration: none">Dining Room</span>
                        </a>
                      </td>
                      <td style="text-align: center;">
                        <a
                            href="https://www.castlery.com/us/bedroom"
                            target="_blank"
                            style="
                                        padding: 0 9px;
                                        color: #323433;
                                        text-decoration: none;
                                        outline: none;
                                      "
                        >
                          <span style="text-decoration: none">Bedroom</span>
                        </a>
                      </td>
                      <td style="text-align: center;">
                        <a
                            href="https://www.castlery.com/us/storage"
                            target="_blank"
                            style="
                                        padding: 0 9px;
                                        color: #323433;
                                        text-decoration: none;
                                        outline: none;
                                      "
                        >
                          <span style="text-decoration: none">Storage</span>
                        </a>
                      </td>
                      <td style="text-align: center;">
                        <a
                            href="https://www.castlery.com/us/outdoor"
                            target="_blank"
                            style="
                                        padding: 0 9px;
                                        color: #323433;
                                        text-decoration: none;
                                        outline: none;
                                      "
                        >
                          <span style="text-decoration: none">Outdoor</span>
                        </a>
                      </td>
                      <td style="text-align: center;">
                        <a
                            href="https://www.castlery.com/us/sale"
                            target="_blank"
                            style="
                                        padding: 0 9px;
                                        color: #a45b37;
                                        text-decoration: none;
                                        outline: none;
                                      "
                        >
                          <span style="text-decoration: none">Sale</span>
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <!-- AU Banner -->
              <!-- 01 -->
              <tr>
                <td style="text-align: center;">
                  <!-- banner -->
                  <table
                      cellpadding="0"
                      cellspacing="0"
                      style="padding: 24px 0; width: 100%; border: 0;"
                  >
                    <tbody>
                    <tr>
                      <td style="text-align: center;">
                        <img
                            src="https://cslr-email.s3-ap-southeast-1.amazonaws.com/ERP/swatch-email/banner_v1.png"
                            width="614"
                            height="300"
                            style="display: inline-block;"
                            alt="Banner.jpg"
                        />
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <!-- title -->
                  <table
                      cellpadding="0"
                      cellspacing="0"
                      style="position: relative; margin: 0 auto; margin-top: -80px; width: 550px; background-color: #fff; z-index: 8;"
                  >
                    <tbody>
                    <tr>
                      <td height="65">&nbsp;</td>
                    </tr>
                    <tr>
                      <td
                          style="font: bold 30px MinervaModern, Arial, Helvetica, sans-serif; text-align: center;"
                      >
                        Hooray, your swatches<br/>
                        are on their way!
                      </td>
                    </tr>
                    <tr>
                      <td height="45">&nbsp;</td>
                    </tr>
                    <tr>
                      <td style="font-size: 16px; line-height: 1.5; text-align: center;">
                        <span style="font-weight: bold;" >Hi  <span th:text="${data.customerFirstname}"></span>,</span>
                      </td>
                    </tr>
                    <tr>
                      <td style="font-size: 16px; line-height: 1.5; text-align: center;">
                        Your swatch order&nbsp;
                        <span style="font-weight: bold"> #<span th:text="${data.custbodyCslrSalesOrderNumber}"></span> </span>&nbsp;
                        has just left our warehouse.
                      </td>
                    </tr>
                    <tr>
                      <td height="25">&nbsp;</td>
                    </tr>
                    <tr>
                      <td style="text-align: center;">
                        It may take up to&nbsp;
                        <span style="font-weight: bold">2 weeks</span>&nbsp;
                        before it arrives into your mailbox.
                      </td>
                    </tr>

                    <tr>
                      <td style="text-align: center;">
                        If you need to reach out, feel free to&nbsp;
                        <a
                            href="https://www.castlery.com/us/contact-us"
                            target="_blank"
                            style="color: #a45b37"
                        >
                          contact us
                        </a>.
                      </td>
                    </tr>

                    <tr>
                      <td height="25">&nbsp;</td>
                    </tr>

                    <span th:each="tracking:${data.recmachcustrecordCslrTrackingParentRecord}">
                    <tr>
                      <td align="center" style="
font-size: 20px;
line-height: 1.5;
">
                        <img width="30" height="30" style="vertical-align: bottom;"
                             src="https://cslr-email.s3-ap-southeast-1.amazonaws.com/ERP/swatch-email/magnifying.svg">
                        <a style="color: #2A61BB;" th:href="${tracking.trackingLink}">Track My
                          Shipment #<span th:text="${tracking.custrecordCslrTrackingNumber}"></span></a>
                      </td>
                    </tr>
                    </span>


                    <tr>
                      <td height="45">&nbsp;</td>
                    </tr>
                    <tr>
                      <td>
                        <table
                            cellpadding="0"
                            cellspacing="0"
                            style="margin: 0 auto; width: 80%; text-align: center;"
                        >
                          <thead>
                          <tr style="background: #dbcfb5">
                            <th
                                style="padding: 15px; font-weight: bold"
                            >
                              Shipping Address
                            </th>
                          </tr>
                          </thead>
                          <tbody>
                          <td align="center"
                              style="padding: 30px; font-size: 16px; line-height: 24px; line-height: 24px; border: 1px solid #DBCFB5; text-align: center;">
                            <span th:text="${data.custbodyCslrAddress1}"></span>
                            <br/>

                            <span th:if="${#strings.length(data.custbodyCslrAddress2) != 0 }">
																		<span th:text="${data.custbodyCslrAddress2}">***</span> <br/>
																</span>
                            <span th:text="${data.custbodyCslrCity}">***</span> <span
                              th:text="${data.custbodyCslrState}">***</span>
                            <span th:text="${data.custbodyCslrZip}">***</span>
                          </td>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td height="65">&nbsp;</td>
                    </tr>
                    </tbody>
                  </table>
                  <!-- 03 -->
                  <!-- Terms Conditions -->
                  <!-- Insert Product Recs Here -->
                  <!-- End Product Recs -->
                  <!-- Footer Links -->
                </td>
              </tr>
              <!-- Divider -->
              <tr>
                <td height="0" style="border-bottom: 1px solid #dbcfb5"></td>
              </tr>
              <!-- Why shopping with us? -->
              <tr>
                <td>
                  <table
                      cellpadding="0"
                      cellspacing="0"
                      style="width: 100%; border: 0;"
                  >
                    <tbody>
                    <tr>
                      <td height="65">&nbsp;</td>
                    </tr>
                    <tr>
                      <td style="font: bold 30px MinervaModern, Arial, Helvetica, sans-serif; line-height: 36px; text-align: center;">
                        Why shop with us?
                      </td>
                    </tr>
                    <tr>
                      <td height="45">&nbsp;</td>
                    </tr>
                    <tr>
                      <td>
                        <table
                            cellpadding="0"
                            cellspacing="0"
                            style="width: 100%; border: 0;"
                        >
                          <tbody>
                          <tr>
                            <td style="padding-right: 15px; width: 44%;">
                              <img
                                  alt="012c93b1-fca3-4575-a7ae-a59c56232114.jpg"
                                  src="https://cslr-email.s3-ap-southeast-1.amazonaws.com/ERP/swatch-email/Lily-Sideboard_v1.png"
                                  width="265"
                              />
                            </td>
                            <td style="width: 55%;">
                              <table
                                  cellpadding="0"
                                  cellspacing="0"
                                  style="width: 100%; border: 0;"
                              >
                                <tbody>
                                <tr>
                                  <td align="left" width="25">
                                    <img
                                        alt="tick.png"
                                        src="https://cslr-email.s3-ap-southeast-1.amazonaws.com/ERP/swatch-email/checkmark.png"
                                        width="15"
                                    />
                                  </td>
                                  <td>
                                    <a
                                        href="https://www.castlery.com/us/delivery"
                                        target="_blank"
                                        style="color: #a45b37; font: bolder 24px MinervaModern, Arial, Helvetica, sans-serif; line-height: 1.5; text-decoration: none; outline: none;"
                                    >
                                      Flat-rate Shipping
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="25">&nbsp;</td>
                                  <td>
                                    <a
                                        href="https://www.castlery.com/us/delivery"
                                        target="_blank"
                                        style="color: #666; font-size: 16px; line-height: 1.5; text-decoration: none; outline: none;"
                                    >
                                      Shipping fees are charged per shipment.*
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="2" height="25">
                                    &nbsp;
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                              <table
                                  cellpadding="0"
                                  cellspacing="0"
                                  style="width: 100%; border: 0;"
                              >
                                <tbody>
                                <tr>
                                  <td align="left" width="25">
                                    <img
                                        alt="tick.png"
                                        src="https://cslr-email.s3-ap-southeast-1.amazonaws.com/ERP/swatch-email/checkmark.png"
                                        width="15"
                                    />
                                  </td>
                                  <td>
                                    <a
                                        href="https://www.castlery.com/us/sales-and-refunds"
                                        target="_blank"
                                        style="color: #a45b37; font: bolder 24px MinervaModern, Arial, Helvetica, sans-serif; line-height: 1.5; text-decoration: none; outline: none;"
                                    >
                                      Easy Returns
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="25">&nbsp;</td>
                                  <td>
                                    <a
                                        href="https://www.castlery.com/us/sales-and-refunds"
                                        target="_blank"
                                        style="color: #666; font-size: 16px; line-height: 1.5; text-decoration: none; outline: none;"
                                    >
                                      Don't love it? Return it within 14 days.*
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="2" height="25">
                                    &nbsp;
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                              <table
                                  cellpadding="0"
                                  cellspacing="0"
                                  style="width: 100%; border: 0;"
                              >
                                <tbody>
                                <tr>
                                  <td align="left" width="25">
                                    <img
                                        alt="tick.png"
                                        src="https://cslr-email.s3-ap-southeast-1.amazonaws.com/ERP/swatch-email/checkmark.png"
                                        width="15"
                                    />
                                  </td>
                                  <td>
                                    <a
                                        href="https://www.castlery.com/us/warranty"
                                        target="_blank"
                                        style="color: #a45b37; font: bolder 24px MinervaModern, Arial, Helvetica, sans-serif; line-height: 1.5; text-decoration: none; outline: none;"
                                    >
                                      Up to 3 Year Warranty
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="25">&nbsp;</td>
                                  <td>
                                    <a
                                        href="https://www.castlery.com/us/warranty"
                                        target="_blank"
                                        style="color: #666; font-size: 16px; line-height: 1.5; text-decoration: none; outline: none;"
                                    >
                                      Shop with confidence.
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="2" height="25">
                                    &nbsp;
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <!-- Divider -->
              <tr>
                <td height="0" style="border-bottom: 1px solid #dbcfb5"></td>
              </tr>
              <!-- Questions? -->
              <tr>
                <td>
                  <table
                      cellpadding="0"
                      cellspacing="0"
                      style="width: 100%; border: 0;"
                  >
                    <tbody>
                    <tr>
                      <td height="65">&nbsp;</td>
                    </tr>
                    <tr>
                      <td style="font: bold 30px MinervaModern, Arial, Helvetica, sans-serif; line-height: 36px; text-align: center;">
                        Questions?
                      </td>
                    </tr>
                    <tr>
                      <td height="45">&nbsp;</td>
                    </tr>
                    <tr>
                      <td>
                        <table
                            cellpadding="0"
                            cellspacing="0"
                            style="width: 100%; border: 0;"
                        >
                          <tr>
                            <td style="text-align: center;">
                              <a
                                  href="https://www.castlery.com/us/help-center"
                                  target="_blank"
                                  style="padding-right: 8px;color: #a45b37; font: 18px MinervaModern, Arial, Helvetica, sans-serif; line-height: 1.5; text-decoration: none; outline: none;"
                              >
                                Read our FAQs
                              </a>
                              <img
                                  src="https://res.cloudinary.com/cslrstag/image/upload/f_auto,q_auto/v1635815669/email/icons/arrow-wheat.png"
                                  width="15" style="display: inline-block; vertical-align: middle;"
                                  alt="read our FAQ"/>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td height="65">&nbsp;</td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
      <table
          cellpadding="0"
          cellspacing="0"
          style="margin: 0 auto; padding: 0 33px; width: 680px; border: 0; background-color: #778379"
      >
        <tbody>
        <tr height="65"></tr>
        <tr style="text-align: center;">
          <td>
            <a
                href="https://www.castlery.com/us/swatches"
                target="_blank"
                style="text-decoration: none"
            >
              <img
                  src="https://res.cloudinary.com/castlery/image/upload/f_auto,q_auto/v1636339467/email/icons/swatch.png"
                  width="49"
              />
              <span
                  style="
                          display: block;
                          margin-top: 16px;
                          color: #dbcfb5;
                          letter-spacing: 1px;
                          font: bold 14px 'MinervaModern', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                          -webkit-font-smoothing: antialiased;
                          -moz-osx-font-smoothing: grayscale;
                        "
              >
                        FREE<br/>SWATCHES
                      </span>
            </a>
          </td>
          <td>
            <a
                href="https://www.castlery.com/us/delivery"
                target="_blank"
                style="text-decoration: none"
            >
              <img
                  src="https://res.cloudinary.com/castlery/image/upload/f_auto,q_auto/v1636339467/email/icons/delivery.png"
                  width="49"
              />
              <span
                  style="
                          display: block;
                          margin-top: 16px;
                          color: #dbcfb5;
                          letter-spacing: 1px;
                          font: bold 14px 'MinervaModern', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                          -webkit-font-smoothing: antialiased;
                          -moz-osx-font-smoothing: grayscale;
                        "
              >
                        FREE SHIPPING*<br/>TO SELECTED CITIES
                      </span>
            </a>
          </td>
          <td>
            <a
                href="https://www.castlery.com/us/sales-and-refunds"
                target="_blank"
                style="text-decoration: none"
            >
              <img
                  src="https://res.cloudinary.com/castlery/image/upload/f_auto,q_auto/v1636339376/email/icons/returns-14.png"
                  width="49"
              />
              <span
                  style="
                          display: block;
                          margin-top: 16px;
                          color: #dbcfb5;
                          letter-spacing: 1px;
                          font: bold 14px 'MinervaModern', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                          -webkit-font-smoothing: antialiased;
                          -moz-osx-font-smoothing: grayscale;
                        "
              >
                        14-DAY<br/>RETURNS*
                      </span>
            </a>
          </td>
        </tr>
        <tr height="65"></tr>
        </tbody>
      </table>
      <table
          cellpadding="0"
          cellspacing="0"
          style="margin: 0 auto; padding: 0 33px; width: 680px; border: 0; background-color: #a45b37"
      >
        <tbody>
        <tr height="65"></tr>
        <tr>
          <td style="text-align: center;">
            <a
                href="https://www.castlery.com/us/contact-us"
                target="_blank"
                style="font: 16px 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-decoration:none;"
            >
              <strong style="color: #dbcfb5">Contact Us</strong>
            </a>
            <span style="color: #dbcfb5;"> | </span>
            <a
                href="https://www.castlery.com/us/referral"
                target="_blank"
                style="font: 16px 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-decoration:none;"
            >
              <strong style="color: #dbcfb5">Refer A Friend</strong>
            </a>
            <span style="color: #dbcfb5;"> | </span>
            <a
                href="https://www.castlery.com/us/privacy-policy"
                target="_blank"
                style="font: 16px 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-decoration:none;"
            >
              <strong style="color: #dbcfb5">Privacy Policy</strong>
            </a>
            <span style="color: #dbcfb5;"> | </span>
            <a
                href="https://www.castlery.com/us/terms-of-use"
                target="_blank"
                style="font: 16px 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-decoration:none;"
            >
              <strong style="color: #dbcfb5">Terms Of Use</strong>
            </a>
          </td>
        </tr>
        <tr height="25"></tr>
        <tr>
          <td style="text-align: center;">
            <a
                href="https://www.facebook.com/CastleryUS"
                target="_blank"
                style="
                        display: inline-block;
                        padding: 0 12px;
                        text-decoration: none;
                      "
            >
              <img
                  height="22"
                  src="https://res.cloudinary.com/castlery/image/upload/f_auto,q_auto/v1636338988/email/footer/FB.png"
              />
            </a>
            <a
                href="http://www.instagram.com/castleryus"
                target="_blank"
                style="
                        display: inline-block;
                        padding: 0 12px;
                        text-decoration: none;
                      "
            >
              <img
                  height="22"
                  src="https://res.cloudinary.com/castlery/image/upload/f_auto,q_auto/v1636338987/email/footer/IG.png"
              />
            </a>
            <a
                href="http://www.pinterest.com/castleryus"
                target="_blank"
                style="
                        display: inline-block;
                        padding: 0 12px;
                        text-decoration: none;
                      "
            >
              <img
                  src="https://res.cloudinary.com/castlery/image/upload/f_auto,q_auto/v1636338987/email/footer/Pinterest.png"
                  height="22"
              />
            </a>
          </td>
        </tr>
        <tr height="25"></tr>
        <tr>
          <td
              style="
											text-align: center;
											font: 14px 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
											color: #dbcfb5;
										"
          >
            Mailing Address: 1950 W. Corporate Way PMB 95972, Anaheim, CA 92801
          </td>
        </tr>
        <tr height="65"></tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<div
    class="gmailfix"
    style="white-space: nowrap; font: 15px courier; line-height: 0"
>
  &nbsp;
</div>
</body>
</html>
